<div style="font-family: Arial, sans-serif; text-align: center;">
    <img src="<%= logoUrl %>" alt="Company Logo" style="width: 150px;"/>
    <h2>Reset Your Password</h2>
    <p>Hi <%= name %>,</p>
    <p>Click the link below to reset your password:</p>
    <a href="<%= resetLink %>" style="text-decoration: none; color: blue;">Reset Password</a>
    <p>This link will expire in 30 minutes.</p>
</div>
